/* Сімейство шрифтів можна взяти на googleFonts кількома варіантами:
1. Обрати сімейство, обрати шрифти, копіювати лінк в head html
2. Обрати сімейство, обрати шрифти, копіювати @import і вставити на початку css
3. Обрати сімейство, обрати шрифти, скачати архів, додати до проекту і підключити напряму обома попередніми способами */

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap'); */


body {
    font-size: 16px;
    font-weight: 400;
    font-family: Lato, sans-serif;
    line-height: 1.5;
}


/*
h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

div {
    white-space: pre;
}

h2 {
    border: 1px solid red;
    width: 400px;
    padding: 10px;

    white-space: nowrap; /* для того щоб прибрати зайвий текст при перепвненні елементу необхідні всі три параметра white-space + overflow + text-overflow, інакше воно не буде працювати */
    /* overflow: hidden;
    text-overflow: ellipsis;
    writing-mode: vertical-lr;
} */




    /* text-align: ;  - вирівнювання інлайн елементів по горизонталі*/
    /* vertical-align: ; - вриівнювання індайн елементів по вертикалі */
    /* font-size: ;  - велчина шрифтів*/
    /* font-weight: ; - товщина шрифту */
    /* font-family: ;  - сімейство шрифтів*/
    /* font-style: ; - нормальний, похилений шрифт */
    /* line-height: ; - висота рядків тексту */
    /* text-indent: ; - ширина відступа в першому рядку абзаца */
    /* letter-spacing: ; - відстань між буквами в слові (приймає додатні та відмні значення) */
    /* word-spacing: ; - відстань між словами (приймає додатні та відмні значення) */
    /* white-space: ;  - дозволяє зберегти чи відмінити переноси рядків та пробіли так як в html написано, додатково тре почитати на MDN-CSS-White-space */
    /* overflow: ; - дозволяє приховати ту частину тексту який вилазить за межі (переповнений контент) - до елементу який буде переповнюватись в html тре додати атрибут title з повним текстом елементу, тоді при наведенні на елемент курсору буде вилазити підказка з повним текстом */
    /* text-overflow: ; - дозволяє додати  три крапки до прихованого тексту який не вліз (переповнений контент) - до елементу який буде переповнюватись в html тре додати атрибут title з повним текстом елементу, тоді при наведенні на елемент курсору буде вилазити підказка з повним текстом */
    /* text-decoration: ; - підкреслений, закреслений текст ... */
    /* text-transform: ; - uppercase, lowercase, capitalize (кожне нове слово з великої літери)... */
    /* text-shadow: ; - тіні для тексту */
    /* direction: ; - можна змінювати порядок букв з права на ліво. з ліва на право */
    /* writing-mode: ; - дозволяє розвернути текст горизонтально чи вертикально */
    /* text-orientation: ; - дозволяє розвертати самі літери в тексі горизонтально, вертикальнро ... Діє лише тоді коли writing-mode у вертикальному положеніі, на горизонтальне не діє */


/* абсолютні величини - px */

    /* font-size: ;  - велчина шрифтів*/

/* відносні величини розмірів шрифтів:
em - 1em = 100% від шрифта батьківського елемента (24px = 1.5em якщо 16px це стандарт цього документа)
            мінус цієї відносної величини в тому, що вона бере в основу шрифт безпосереднього батька,
            і через це виникає проблема з шрифтами, наприклад, для Body задано шрифт 16px які = 1em,
            у Body є нащадок div  в якому розмір шрифта 1,5em які дорівнюють 24px, у div є нащадок article
            у якого шрифт 2em які повинні дорівнювати 32px, але вони насправді будуть мати шрифт 48px тому 
            що в div який є батьком для article задано розмір шрифта 1,5em що дорівнює 24px відповідно 
            article буде мати 48px (2 em від 24px)
rem - 1 rem = 100% від шрифта рутового елемента (24px = 1.5rem якщо 16px це стандарт цього документа)
                схема розрахунку rem така ж як і em, різниця в тому що всі ці величини розраховуються 
                відштовхуючись від розміру шрифта кореневого елемента html, а не безпосереднього парента
vw - view width - 100vw = 100% видимої частини ширини вікна браузера
vh - view high - 100vh = 100% видимої частини висоти вікна браузера
*/


    /* font-family: ;  - сімейство шрифтів*/


    /* font-family: Arial, Helvetica, sans-serif; - де Arial, Helvetica це якраз сімейства шрифтів, а sans-serif - це група сімейств шрифтів, їх є декілька:display: display: display: 
    sans-serif - будь яке сімейство шрифтів яке не має на літерах засічок
    serif - будь яке сімейство шрифтів яке має на літерах засічки
    monospace - будь яке сімейство шрифтів в якому всі літери мають однакову ширину (напр. М вузька а І широка щоб вони займали однакову ширину)
    Cursive - шрифти, що імітують почерк,похилений італік
    Fantasy - специфічні декоративні,красиві закручені літери */


    /* Комбінатори */
    /* Дозволяють враховувати структуру html */
    /* дочірні елементи - це прямі потомки (діти) */
    /* потомки - це всі вкладені елеенти (внуки, правнуки...) */
    /* сусідні елементи - це елементи які знаходяться на одному рівні вкладеності (брати,сестри) */
    /* при робот з сусідніми елементами пам'ятаємо, що обирати можемо лише наступні елементи, ті що йдуть після нашого  (попередні неможемо) */
    

    /* 1. , - div, span - вибере всі елементи div i span в html */

    h1, h2 {
        font-style: italic;
    }

    /* 2. > - body > * - вибере всіх прямих потомків (дочірніх елементів) тегу body */

        /* взяти в рамку всі дочірні елементи body */
    body > h1, section {
        border: 1px solid red;
    }
        /* зробити жирним всі абзаци в секціях */
    section > p {
        font-weight: bold;
    }

    /* 3. пробіл - section h2 - вибере всі елементи h2 які є потомками section (незалежно від рівня вкладенгості, всі внуки, правнуки і т.д.) */

    section h2 {
        color: blue;
    }

    
    /* 4. + - h2 + p - вибере перший сусідній елемент на одному рівні вкладеності (наступний) з h2 */

    h2 + p {
        background-color: aquamarine;
    }


    /* 5. ~ - p ~ p - вибере всі абзаци які знаходяться на одному рівні з абзацом перед яким на одному рівні знаходиьтся h2 */

    h2 + p ~ p {
        color: blueviolet;
    }